/* rgba(0,0,0,0.777) got nicer tone to it than ... 0.77/0.7 */
/* I continued with the 777 trend, even thought I didn't notice that big of a change in white/red as in gray */
body {
  text-align: center;
  margin: 20px;
  background: rgb(0, 0, 0, 0.777);
  color: silver;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 40px 60px;
}

h1 {
  font-size: 3em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  margin: 1%;
  color: silver;
}

/* the playing cards placement */
.memo-game {
  margin: 10px auto;
  width: max-content;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 16px;
}

/* coloration of the game-/playfield */
.cards {
  height: 100px;
  background: black;
  border: 5px solid gray;
  cursor: pointer;
}

.reset {
  font-size: 1.5em;
  letter-spacing: 0.1em;
  padding: 21px 20px;
  color: silver;
  background: black;
  border: 5px solid gray;
  text-transform: uppercase;
}

.reset:focus {
  color: black;
  background: silver;
}
