/* rgba(0,0,0,0.777) got nicer tone to it than ... 0.77/0.7 */
/* I continued with the 777 trend, even thought I didn't notice that big of a change in white/red as in gray */
body {
  text-align: center;
  margin: 20px;
  background: rgba(0, 0, 0, 0.777);
  color: rgba(255, 255, 255, 0.777);
}

h1 {
  text-align: center;
  margin: 20px;
  color: rgba(255, 0, 0, 0.777);
}

/* the playing cards placement */
.memo-game {
  margin: 48px auto;
  width: max-content;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 16px;
}

/* coloration of the game-/playfield */
.cards {
  height: 100px;
  background: rgba(50, 20, 20, 0.777);
  border: 5px solid rgb(100, 100, 100, 0.777);
  cursor: pointer;
}
